/* animação | index */
@keyframes up {
    from { 
        opacity: 0;
        transform: translateY(16px)
    }
    to { 
        opacity: 1;
        transform: translateY(0)
    }
}
.animate-up {
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}



/* animação | foster-homes */
@keyframes right {
    from { 
        opacity: 0;
        transform: translateX(-100%)
    }
    to { 
        opacity: 1;
        transform: translateX(0)
    }
}
.animate-right {
    animation-name: right;
    animation-duration: 300ms;
}



/* animação | foster-homes / map*/
@keyframes appear {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}
.animate-appear {
    animation-name: appear;
    animation-duration: 300ms;
    animation-fill-mode: backwards; /* animação para no 'to', ou seja, não da reset para o 'from'*/
}