/* padrão-universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}
body {
    height: 100vh;

    color: white;
    background: #fffcf26c;
}
body, input, button, textarea {
    /*font-size: 18px;
    font-weight: 400;
    line-height: 1;
    font-family: 'Nunito', sans-serif;*/

    font: 400 1.8rem/1 'Nunito', sans-serif;
}
input, textarea, button:focus{ 
    outline:none;
}