/* Barra lateral */
aside.sidebar {
    position: fixed;
    height: 100%;
    padding: 32px 24px; /* 3.2rem 2.4rem */
    background: linear-gradient(329.54deg, #ff15b9 0%, #ffee56 100%) no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
aside.sidebar footer button{
    width: 48px;
    height: 48px;
    border: none;
 
    background: #ffa876;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;

    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
}
aside.sidebar footer button:hover{
    background: #ff8288;
}
.width-sidebar {
    padding-left: 110px;
}