<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--adaptável para cel & tablets (ativa o @media)-->
    <title>Localize um lar de adoção | Happy</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/><!-- Biblioteca | MAPA -->
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <link rel="icon" href="/images/logo-icon.png">
    
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/page-foster-homes.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id="page-foster-homes">
        <aside class="animate-right">
            <header>
                <img src="/images/map-marker.svg" alt="Logo Happy">

                <h2>Escolha um lar de adoção no mapa</h2>
                <p>Muitas crianças estão esperando sua visita :)</p>
            </header>
            <footer>
                <strong>São paulo</strong>
                <p>São paulo</p>
            </footer>
        </aside>

        <div id="mapid" class="animate-appear">
            <div class="fosterHomes"><!-- WARNINGX -->
                {{#each fosterHomes}}
                    <span hidden 
                        data-id="{{this.id}}" 
                        data-name="{{this.name}}"
                        data-lat="{{this.lat}}"
                        data-lng="{{this.lng}}">
                    </span>
                {{/each}}
            </div>

            <a href="/create-foster-home" class="create-foster-home" title="Cadastre um lar de adoção">
                <img src="/images/plus.svg" alt="Criar um lar de adoção">
            </a>
        </div>
    </div>
    <script type="text/javascript" src="/scripts/page-foster-homes.js"></script>
</body>
</html>